<div class="sectionPlan">
<div class="plans">
    <div class="plan">
        <div class="planText">Basic</div>
        <div class="money">20€</div>
        <div class="sub">
        <button><a href="/basic">Subscription</a></button>
        </div>
    </div>
    <div class="plan">
        <div class="planText">Premium</div>
        <div class="money">20€</div>
        <div class="sub">
        <button><a href="/premium">Subscription</a></button>
        </div>
    </div>
   <div class="plan">
        <div class="planText">Ultimate</div>
        <div class="money">20€</div>
        <div class="sub">
        <button><a href="/ultimate">Subscription</a></button>
        </div>
    </div>
</div>
</div>