<form action="/register" method="post">
    <label>Username</label>
    <input autofocus type="text" name="username">
    <label>Password</label>
    <input type="password" name="password">
    <label>Repeat Password</label>
    <input type="password-repeat" name="passwordRepeat">
    <input type="submit" value="Register">
</form>

<a href="/login">Log in</a>